

.quadrado{
    height: 250px;
    width: 250px;
    background-color: pink;
}

*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}